@font-face {
  font-family: 'GTSuperText';
  src: local('GTSuperText-Regular'), url(./fonts/GTSuperText-Regular.otf) format('truetype');
}

body {
  margin: 0;
  font-family: 'GTSuperText', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
